body{
    margin: 0;
    background-color: #e4e4e473;
}

/* Header */
header{
    background-color: white;
}
#contenitore-logo{
        width: 100%;
    height: 100px;
}

.titolo{
    font-size: 55px;
    font-family: sans-serif;
    font-weight: 700;
    margin: -95px 75px;
}

#logo{
    padding: 25px 10px 25px 15px;
    width: 3.3%;
}
/* /Header */

/* Main */
main{
    margin: auto;
    width: 50%;
    background-color: #F6F8F9;
    border: #F6F8F9;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 50px;
    margin-bottom: 25px;
}
/* Bottoni */
.cont-bottoni{
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#Task{
    color: white;
    background-color: #47ADF1;
    border: 0;
    padding: 7px 15px;
    margin: 15px 0 10px 70px;
    border-radius: 5px;
    font-size: 20px;
}

#Section{
    color: #D4D8DC;
    background-color: #FFFFFF;
    border: 2px solid;
    padding: 7px 15px;
    border-radius: 5px;
    font-size: 20px;
}
/* /Bottoni */

/* Task */
.cont-task{
    background-color: white;
    border: 1px solid #FBFCFC;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 2px;
}

.cont-testo{
    margin:25px 70px;
}

.titolini{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.check{
    border: 3px solid #82CFBE;
    border-radius: 100%;
    color: #82CFBE;
    padding: 5px;
}

.editorial{
    background-color: #45ABEA;
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
}

.testi{
    font-size: 25px;
}

.Q1{
    background-color: #9C72E4;
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
}

.ballot{
    border: 3px solid #EB5952;
    border-radius: 100%;
    color: #EB5952;
    padding: 5px;
}

.rec{
    background-color: #64C0A9;
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
}

.mob{
    background-color: #F29E33;
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
}

.web{
    background-color: #D863A1;
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
}

.sales{
    background-color: #B0C926;
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
}